POSTGRES_PASSWORD=__CHANGE_ME_POSTGRES_PASSWORD__
NEO4J_PASSWORD=__CHANGE_ME_NEO4J_PASSWORD__
STRATEGYOS_OBJECT_SECRET_ACCESS_KEY=__CHANGE_ME_OBJECT_SECRET_ACCESS_KEY__
MINIO_ROOT_PASSWORD=__CHANGE_ME_MINIO_ROOT_PASSWORD__
STRATEGYOS_IDP_CLIENT_SECRET=__CHANGE_ME_IDP_CLIENT_SECRET__
STRATEGYOS_IDP_OPERATOR_PASSWORD=__CHANGE_ME_IDP_OPERATOR_PASSWORD__
STRATEGYOS_IDP_REVIEWER_PASSWORD=__CHANGE_ME_IDP_REVIEWER_PASSWORD__
STRATEGYOS_SENSITIVE_IDENTIFIER_HMAC_KEY=__CHANGE_ME_SENSITIVE_IDENTIFIER_HMAC_KEY__
STRATEGYOS_TRUSTED_PROXY_AUTH_SECRET=__CHANGE_ME_TRUSTED_PROXY_AUTH_SECRET__
OAUTH2_PROXY_CLIENT_SECRET=__CHANGE_ME_OAUTH2_PROXY_CLIENT_SECRET__
OAUTH2_PROXY_COOKIE_SECRET=__CHANGE_ME_OAUTH2_PROXY_COOKIE_SECRET__
HATCHET_POSTGRES_PASSWORD=__CHANGE_ME_HATCHET_POSTGRES_PASSWORD__
HATCHET_CLIENT_TOKEN=
STRATEGYOS_LLM_API_KEY=
